@use "../abstracts/" as *;

.button {
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  font-weight: $fw-700;
  color: $color-neutral-100;
  background-color: $color-primary-400;
  padding: 1em 1.5em;

  justify-self: center;

  .inverted & {
    color: $color-primary-400;
    background-color: $color-neutral-100;
  }

  &:hover,
  &:focus {
    color: $color-neutral-100;
    background-color: rgb($color-neutral-900, 0.7);
  }
}
