@use "../abstracts/" as *;

.button {
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  font-weight: $fw-700;
  color: clr(neutral, 100);
  background-color: clr(primary, 400);
  padding: 1em 1.5em;

  justify-self: center;

  &[data-type="inverted"] {
    color: clr(primary, 400);
    background-color: clr(neutral, 100);
  }

  &:hover,
  &:focus {
    color: clr(neutral, 100);
    background-color: rgb(clr(neutral, 900), 0.7);
  }
}
